<div class="row">
		<% form_for @contact do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :email %>
			<%= f.email_field :email %>
			
			<%= f.label :comment %>
         	<%= f.text_area :comment %>
			
		<% end %>
</div>